.information {
  border: 1px solid rgba(46, 49, 49, 0.2);

  background-color: rgba(137, 207, 240, 0.3);
}

.listButton {
  width: 50px;
  height: 50px;

  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 1em;

  padding: 0.5em;

  border: 0;
  border-radius: 7px;

  background-color: rgba(137, 207, 240, 0.1);
}

.cat1,
.cat2,
.cat3,
.cat4,
.cat5,
.cat6,
.cat7,
.cat8,
.cat9,
.cat10 {
  vertical-align: top;
}

.listButton:hover {
  background-color: rgb(137, 207, 240);

  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.listButton .buttonPrompt {
  position: absolute;

  visibility: hidden;

  padding: 5px 2px;

  border-radius: 6px;

  background-color: #555;
  color: #fff;
  text-align: center;
}

.listButton:hover .buttonPrompt {
  visibility: visible;
}

.cats div .cat {
  width: 300px;
  height: 300px;
}

.cats div {
  display: inline-block;

  width: 300px;
  height: 450px;

  margin-bottom: 2em;
  margin-left: 8em;

  border: 1px solid rgba(46, 49, 49, 0.2);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  background-color: rgba(137, 207, 240, 0.2);
}

.cats div:hover {
  background-color: rgba(137, 207, 240, 0.7);
}

.cat1Name,
.cat2Name,
.cat3Name,
.cat4Name,
.cat5Name,
.cat6Name,
.cat7Name,
.cat8Name,
.cat9Name,
.cat10Name {
  color: DarkBlue;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.4em;
  font-weight: bold;

  line-height: 0.9em;
}

.cats .cat1 .cat1Name,
.cats .cat2 .cat2Name,
.cats .cat3 .cat3Name,
.cats .cat4 .cat4Name,
.cats .cat5 .cat5Name,
.cats .cat6 .cat6Name,
.cats .cat7 .cat7Name,
.cats .cat8 .cat8Name,
.cats .cat9 .cat9Name,
.cats .cat10 .cat10Name {
  display: flex;
  justify-content: center;
}

.cats .catText {
  display: inline-block;

  margin-left: 2em;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;

  line-height: 1.2em;

  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cat1:hover,
.cat2:hover,
.cat3:hover,
.cat4:hover,
.cat5:hover,
.cat6:hover,
.cat7:hover,
.cat8:hover,
.cat9:hover,
.cat10:hover {
  box-shadow: 0 14px 28px rgba(25, 25, 112, 0.5), 0 10px 10px rgba(25, 25, 112, 0.4);
}

#check:checked ~ .cats .cat1,
#check:checked ~ .cats .cat2,
#check:checked ~ .cats .cat3,
#check:checked ~ .cats .cat4,
#check:checked ~ .cats .cat5,
#check:checked ~ .cats .cat6,
#check:checked ~ .cats .cat7,
#check:checked ~ .cats .cat8,
#check:checked ~ .cats .cat9,
#check:checked ~ .cats .cat10 {
  width: 1600px;

  border-top-right-radius: 20px;
  border-bottom-left-radius: 0;
}

#check:checked ~ .cats .cat1 .cat,
#check:checked ~ .cats .cat2 .cat,
#check:checked ~ .cats .cat3 .cat,
#check:checked ~ .cats .cat4 .cat,
#check:checked ~ .cats .cat5 .cat,
#check:checked ~ .cats .cat6 .cat,
#check:checked ~ .cats .cat7 .cat,
#check:checked ~ .cats .cat8 .cat,
#check:checked ~ .cats .cat9 .cat,
#check:checked ~ .cats .cat10 .cat {
  width: 450px;
  height: 450px;
}

#check:checked ~ .cats .cat1 .cat1Name,
#check:checked ~ .cats .cat2 .cat2Name,
#check:checked ~ .cats .cat3 .cat3Name,
#check:checked ~ .cats .cat4 .cat4Name,
#check:checked ~ .cats .cat5 .cat5Name,
#check:checked ~ .cats .cat6 .cat6Name,
#check:checked ~ .cats .cat7 .cat7Name,
#check:checked ~ .cats .cat8 .cat8Name,
#check:checked ~ .cats .cat9 .cat9Name,
#check:checked ~ .cats .cat10 .cat10Name {
  position: absolute;

  margin-top: -300px;
  margin-left: 550px;
}

#check:checked ~ .cats .cat1 .catText,
#check:checked ~ .cats .cat2 .catText,
#check:checked ~ .cats .cat3 .catText,
#check:checked ~ .cats .cat4 .catText,
#check:checked ~ .cats .cat5 .catText,
#check:checked ~ .cats .cat6 .catText,
#check:checked ~ .cats .cat7 .catText,
#check:checked ~ .cats .cat8 .catText,
#check:checked ~ .cats .cat9 .catText,
#check:checked ~ .cats .cat10 .catText {
  position: absolute;

  float: right;

  margin-top: -425px;
  margin-left: 1000px;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.hiddenText1,
.hiddenText2,
.hiddenText3,
.hiddenText4,
.hiddenText5,
.hiddenText6,
.hiddenText7,
.hiddenText8,
.hiddenText9,
.hiddenText10 {
  display: none;

  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
}

#check:checked ~ .cats .cat1 .hiddenText1,
#check:checked ~ .cats .cat2 .hiddenText2,
#check:checked ~ .cats .cat3 .hiddenText3,
#check:checked ~ .cats .cat4 .hiddenText4,
#check:checked ~ .cats .cat5 .hiddenText5,
#check:checked ~ .cats .cat6 .hiddenText6,
#check:checked ~ .cats .cat7 .hiddenText7,
#check:checked ~ .cats .cat8 .hiddenText8,
#check:checked ~ .cats .cat9 .hiddenText9,
#check:checked ~ .cats .cat10 .hiddenText10 {
  position: absolute;

  display: inline;

  margin-top: -250px;
  margin-left: 650px;

  text-align: center;
}

#check {
  display: none;
}

#check:checked ~ .label .listButton {
  content: url(img/list_horizontal.png);
}
